body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
  
header {
  background-color: #ffffff;
  overflow: auto;
  width: 100%;
}

nav {
  float: right;
  padding: 25px 25px 20px 25px;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  color: #777777;
}

#navbar {
  width: 960px;
  margin: auto; 
}

#name {
  background-color: #4aaaa5;
  color: #ffffff;
  float: left;
  padding: 20px;
  font-size: 24px; 
  text-decoration: none; 
}

nav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav-right a {
  color: #777777;
  text-align: center;
  padding: 15px; 
  text-decoration: none;
  font-size: 20px;
  font-family: 'Georgia', Times, Times New Roman, serif;
}

.container {
  width: 960px;
  margin: auto; 
  background-color: white; 
  margin-top: 50px;  
}

.container p {
  color: #777777;
  padding: 50px 50px 30px 50px; 
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  background-color: white; 
  height: 300px; 
  text-indent: 50px; 
  line-height: 1.5; 
}

.container h1 {
  background-color: white; 
  margin-bottom: 0; 
  padding: 15px 50px 15px 50px;
  color: #4aaaa5;
  font-size: 30px; 
}

.column {
  float: left;
  width: 40%;
  padding: 20px 50px 20px 40px;
  position: relative; 
  margin-bottom: 60px; 
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.text-block {
  position: absolute;
  bottom: 35px;
  background-color: #4aaaa5;
  color: white;
  padding: 5% 24% 5% 24%; 
  text-align: center; 
  font-size: 25px; 
}

.text-block-1 {
  position: absolute;
  bottom: 35px;
  background-color: #4aaaa5;
  color: white;
  padding: 5% 27% 5% 27%; 
  text-align: center; 
  font-size: 25px; 
} 

.text-block-2 {
  position: absolute;
  bottom: 35px;
  background-color: #4aaaa5;
  color: white;
  padding: 5% 25% 5% 25%; 
  text-align: center; 
  font-size: 25px; 
} 

.text-block-3 {
  position: absolute;
  bottom: 35px;
  background-color: #4aaaa5;
  color: white;
  padding: 5% 27.2% 5% 27.2%; 
  text-align: center; 
  font-size: 25px; 
} 

.text-block-4 {
  position: absolute;
  bottom: 35px;
  background-color: #4aaaa5;
  color: white;
  padding: 5% 17.5% 5% 17.5%; 
  text-align: center; 
  font-size: 25px; 
  overflow: hidden;
  white-space: nowrap; 
} 

footer {
  position: fixed; 
  text-align: center; 
  width: 100%; 
  padding-top: 10px; 
  padding-bottom: 10px;
  background-color: #666666; 
  border-top: 10px solid #4aaaa5;
  left: 0; 
  bottom: 0; 
  color: white; 
}

html {
  background-color: #dddddd; 
  z-index: -1; 
}

  