
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #ffffff;
}

.topnav a {
  float: left;
  color: #777777;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 12px;
  font-family: 'Georgia', Times, Times New Roman, serif;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4aaaa5;
  color: white;
  margin-left: 15%; 
  font-size: 24px; 
}

.topnav-right {
  float: right;
  padding-right: 150px; 
  position: relative;
  text-align: right; 
  padding-top: 5px; 
}

.bio {
  border: 4px solid gray;
  margin-left: 100px; 
  max-width: 960px;
  margin: auto;
  overflow: auto;
}

.bio p {
  color: #777777;
  padding: 0px 50px 30px 50px; 
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  background-color: white; 
  margin-top: 0px; 
  border-top: 4px solid #dddddd; 
  height: 300px; 
  text-indent: 50px; 
  line-height: 1.5; 
  overflow: auto; 
}

.bio h1 {
  background-color: white; 
  margin-bottom: 0; 
  padding: 15px 50px 15px 50px;
  color: #4aaaa5;
  font-size: 30px; 
}

.profile a {
  border-bottom: 3px solid black;
}

.profileimg {
  float:left; 
  max-width: 240px; 
  max-height: 240px; 
  padding-right: 20px; 
}
footer {
  position: fixed; 
  text-align: center; 
  width: 100%; 
  padding-top: 10px; 
  padding-bottom: 10px;
  background-color: #666666; 
  border-top: 10px solid #4aaaa5;
  left: 0; 
  bottom: 0; 
  color: white; 
}

html {
  background-color: #dddddd; 
  z-index: -1; 
}
