.row1 {
    background-color: #ffffff;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.row2 {
    background-color: #dddddd;
}

.row3 {
    background-color: #dddddd;
    margin-bottom: 50px; 
}

.container {
    background-color: #dddddd;
}

.nav-item {
    font-size: 20px; 
}

.nav-item a:hover {
    background-color: #ddd;
    color: black;
    padding: auto;
}

.bg-info{
    font-size: 28px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    background-color: #4aaaa5 !important;
    width: 250px;
    height: 80px; 
    margin-left: 24px; 
    padding-top: 20px;
    text-align: center;
}
  
.profileimg {
    float:left; 
    max-width: 350px; 
    max-height: 350px; 
    padding: 10px 20px 0px 0px; 
}

.mice-invaders {
    width: 100%; 
    height: 100%; 
}

.rpg-game {
    width: 100%; 
    height: 100%; 
}

.trival-games {
    width: 100%; 
    height: 100%; 
}

.info-widget {
    width: 100%; 
    height: 100%; 
}

.r-p-s {
    width: 100%;
    height: 100%;
}

p {
    border-top: 2px solid #dddddd;
    font-size: 16px; 
}

.lead {
    padding-top: 20px; 
}

.jumbotron {
    background-color: #ffffff;
    color: #777777;
}

.jumbotron h3 {
    color: #4aaaa5;
}

html {
    height: 100%;
    background-color: #dddddd;
}

a:visited {
    text-decoration: none;
}

.btn-facebook {
    background-color: #3B5998;
    color: white;
    margin-right: 10px; 
}

.btn-linkedin {
    background-color: #0077B5;
    color: white;
    margin-right: 10px;
    margin-left: 10px;
}

.btn-github {
    color: #333;
    margin-right: 10px; 
    border-radius: 10px;
    background-color: #eeeeee; 
}

.footer {
    position: fixed; 
    text-align: center; 
    width: 110%; 
    padding-top: 10px; 
    padding-bottom: 10px;
    background-color: #666666; 
    border-top: 10px solid #4aaaa5;
    left: 0; 
    bottom: 0; 
    color: white; 
    margin-left: -50px; 
}

.text-block {
    position: relative;
    bottom: 60px;
    background-color: #4aaaa5;
    color: white;
    width: auto;
    text-align: center; 
    white-space: nowrap;
    padding: 1% 25% 1% 25%; 
}

a {
    text-decoration: none !important;
}

div.col-lg-6 {
    padding: 15px !important;
}

@media screen and (max-width: 991px) {
    .bg-info {
        width: 1000px !important; 
        margin-left: -20px; 
        margin-right: -20px;
    }

    .row3 {
        margin-bottom: 100px; 
    }

    .footer {
        margin-left: -60px; 
    }

}