
body {
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
}

header{
  background-color: #ffffff;
  overflow: auto;
  width: 100%;
}

nav{
  float: right;
  padding: 25px 25px 20px 25px;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  color: #777777;
}

#navbar{
  width: 960px;
  margin: auto; 
}

#name{
  background-color: #4aaaa5;
  color: #ffffff;
  float: left;
  padding: 20px;
  font-size: 24px; 
  text-decoration: none; 
}

nav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav-right a {
  color: #777777;
  text-align: center;
  padding: 15px; 
  text-decoration: none;
  font-size: 20px;
  font-family: 'Georgia', Times, Times New Roman, serif;
}

.bio {
  width: 920px;
  margin: auto; 
  background-color: white; 
  margin-top: 50px;  
  margin-bottom: 200px; 
  padding: 0px 20px 20px 20px; 
}

.bio p {
  color: #777777;
  padding: 30px 50px 15px 0px; 
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  background-color: white; 
  border-left: 10px; 
  height: 300px;  
  line-height: 1.5; 
  overflow: auto; 
  border-top: 4px solid #dddddd;
}


.bio h1 {
  background-color: white; 
  margin-bottom: 0; 
  padding: 15px 50px 15px 0px;
  color: #4aaaa5;
  font-size: 24px; 
}

.profileimg {
  float:left; 
  max-width: 300px; 
  max-height: 300px; 
  padding-right: 20px; 
}
footer {
  position: fixed; 
  text-align: center; 
  width: 100%; 
  padding-top: 10px; 
  padding-bottom: 10px;
  background-color: #666666; 
  border-top: 10px solid #4aaaa5;
  left: 0; 
  bottom: 0; 
  color: white; 
}

html {
  background-color: #dddddd; 
  z-index: -1; 
}
